.next/
.astro/
dist/
node_modules/
/npm-debug.log
.DS_Store
out/
public/media/
.idea
.venv/
__pycache__/
output/pdf/

# Local Netlify folder
.netlify

# Package manager files
pnpm-debug.log*
.pnpm-store/
